@model CV_Project.Models.Info


<section id='services' class='services-section section'>

    <div class='container'>
        <div class='row'>
            <div class='col-md-6 col-md-offset-3'>
                <div class='section-header main-title text-center'>

                    <h2 class='animate text-over-block'>Hizmetler</h2>

                    <!--divider-->
                    <div class='divider-draft center'></div>
                    <!--/divider-->

                    <p>
                        Merhaba <b>Yüksek kalitede</b> Hizmet vermekteyim, hizmetleri aşağıda inceleyebilirsiniz.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class='services-block section-block'>

        <div class='container'>

            <div class='row'>

                <div class='col-md-3'>
                    <div class='service'>
                        <div class='icon'>
                            <i class='ion-ios-camera'></i>
                        </div>

                        <div class='content'>

                            <h4>Fotoğraf</h4>

                            <p>
                                profesyonel olarak fotoğraf çekimi yapabilirim
                            </p>

                        </div>
                    </div>
                </div>

                <div class='col-md-3'>
                    <div class='service'>
                        <div class='icon'>
                            <i class='ion-code'></i>
                        </div>

                        <div class='content'>

                            <h4>Kodlama </h4>

                            <p>
                                Back-end ve Database teknolojileri konusunda eğitimim ve çalışmalarım var
                            </p>

                        </div>
                    </div>
                </div>

                <div class='col-md-3'>
                    <div class='service'>
                        <div class='icon'>
                            <i class='ion-ios-lightbulb'></i>
                        </div>

                        <div class='content'>

                            <h4>Yaratıcılık</h4>

                            <p>
                                Karmaşık sorunları algoritma ve tümevarım gibi methodlar ile basit bir şekilde ifade edebilir ve çözüm sunabilirim
                            </p>

                        </div>
                    </div>
                </div>

                <div class='col-md-3'>
                    <div class='service'>
                        <div class='icon'>
                            <i class='ion-ios-monitor'></i>
                        </div>

                        <div class='content'>

                            <h4>Web Dizayn</h4>

                            <p>
                                HTML,CSS,JS dilleri ile istenilen ölçekte programlama yapabilirim
                            </p>

                        </div>
                    </div>
                </div>

            </div>

            @*<div class='row'>

                <div class='col-md-3'>
                    <div class='service'>
                        <div class='icon'>
                            <i class='ion-ios-camera'></i>
                        </div>

                        <div class='content'>

                            <h4>Photoshop</h4>

                            <p>
                                Video ve Fotoğraflara istenilen şekilde edit efekt vb, işlemler yapabilirim
                            </p>

                        </div>
                    </div>
                </div>

                <div class='col-md-3'>
                    <div class='service'>
                        <div class='icon'>
                            <i class='ion-code'></i>
                        </div>

                        <div class='content'>

                            <h4>Coding</h4>

                            <p>
                                Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
                            </p>

                        </div>
                    </div>
                </div>

                <div class='col-md-3'>
                    <div class='service'>
                        <div class='icon'>
                            <i class='ion-ios-lightbulb'></i>
                        </div>

                        <div class='content'>

                            <h4>Creativity</h4>

                            <p>
                                Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
                            </p>

                        </div>
                    </div>
                </div>

                <div class='col-md-3'>
                    <div class='service'>
                        <div class='icon'>
                            <i class='ion-ios-monitor'></i>
                        </div>

                        <div class='content'>

                            <h4>Web Design</h4>

                            <p>
                                Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
                            </p>

                        </div>
                    </div>
                </div>

            </div>*@

        </div>

    </div>

    

    <div class='process-block bg-lightgray section-block'>
        <div class='container'>

            <div class='section-header text-center'>
                <h2>İş süreci</h2>
                <!--divider-->
                <div class='divider-draft center'></div>
                <!--/divider-->
            </div>

            <div class='row'>

                <div class='col-md-3'>

                    <div class='process'>

                        <div class='number'>
                            <span>01</span>
                        </div>

                        <div class='content'>

                            <h4>Tasarım</h4>

                            <p>
                                İstenilen Projenin tasarımın yapılması
                            </p>

                        </div>

                    </div>

                </div>

                <div class='col-md-3'>

                    <div class='process'>

                        <div class='number'>
                            <span>02</span>
                        </div>

                        <div class='content'>

                            <h4>Geliştirme</h4>

                            <p>
                                Tasarıma uygun kodlama ile istenilen projenin kodlanması
                            </p>

                        </div>

                    </div>

                </div>

                <div class='col-md-3'>

                    <div class='process'>

                        <div class='number'>
                            <span>03</span>
                        </div>

                        <div class='content'>

                            <h4>Kontrol</h4>

                            <p>
                                Kodlanan projenin çeşitli testler ile bug ve hatalarının giderilmesi
                            </p>

                        </div>

                    </div>

                </div>

                <div class='col-md-3'>

                    <div class='process last'>

                        <div class='number'>
                            <span>04</span>
                        </div>

                        <div class='content'>

                            <h4>Teslim</h4>

                            <p>
                                Sorunsuz çalışan projenin teslimi ve ilk 4 ay online destek
                            </p>

                        </div>

                    </div>

                </div>



            </div>

        </div>
    </div>

    <div class='testimonials-block section-block'>
        <div class='container'>

            <div class='section-header text-center'>

                <h2 class='animate text-over-block'>Görüşler</h2>

                <!--divider-->
                <div class='divider-draft center'></div>
                <!--/divider-->


            </div>

            <div class='row'>

                <div class='col-md-8 col-md-offset-2'>

                    <div class='testimonials-slider'>

                        <div class='testimonial'>
                            <p>
                                İletişimleri samimi ve etkiliydi; her aşamada oluşan sorularımıza anında ve açık bir şekilde cevap verdiler. Şimdi, bu hızlı ve güvenilir ekiple çalıştığımız için kendimizi şanslı hissediyoruz. Kendilerini herkese gönül rahatlığıyla tavsiye ediyoruz!"

                            </p>

                            <div class='author'>
                                <h4>Altan Emre Demirci</h4>
                                
                            </div>
                        </div>

                        <div class='testimonial'>
                            <p>
                                Yazılım dünyasında gerçek bir hız ve güvenilirlik odağıyla çalışan bu ekip, sadece isteklerimizi değil, aynı zamanda işimizin gereksinimlerini de anlamak için özveri gösterdi. Her aşamada bizi proaktif bir şekilde bilgilendirerek, projenin kontrolünü elde tutmamıza yardımcı oldular.
                            </p>

                            <div class='author'>
                                <h4>Ahmet Yiğit Özkoca</h4>
                               
                            </div>
                        </div>

                        <div class='testimonial'>
                            <p>
                                İletişimleri samimi ve etkiliydi; her aşamada oluşan sorularımıza anında ve açık bir şekilde cevap verdiler. Şimdi, bu hızlı ve güvenilir ekiple çalıştığımız için kendimizi şanslı hissediyoruz. Kendilerini herkese gönül rahatlığıyla tavsiye ediyoruz!"

                            </p>

                            <div class='author'>
                                <h4>Alican Gündoğan</h4>
                               
                            </div>
                        </div>




                    </div>

                </div>

            </div>

        </div>
    </div>

   @Html.Partial("_PartialFooter",Model)


</section>